OPENAI_API_KEY=
PEXELS_API_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n"
FIREBASE_PROJECT_NUMBER=
FIREBASE_APP_IDS=
ENFORCE_APP_CHECK=false
