@import "tailwindcss";

html {

    @apply text-neutral0;

}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.no-spinner[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}


@media (prefers-color-scheme: light) {

    @theme {

		--color-primary0: #318def;
		--color-primary1: #13acdc;

        --color-neutral0: #1F2937;
        --color-neutral1: #9CA3AF;
        --color-neutral2: #D1D5DB;
        --color-neutral3: #E5E7EB;
        --color-neutral4: #F3F4F6;
        --color-neutral5: white;

        --color-positive0: #166534;
        --color-positive1: #16a34a;
        --color-positive2: #dcfce7;

        --color-negative0: #7f1d1d;
        --color-negative1: #dc2626;
        --color-negative2: #fecaca;

        --color-warning0: #b45309;
        --color-warning1: #d97706;
        --color-warning2: #fef9c3;

		--color-shadow: rgba(0, 0, 0, 0.02);

    }

}